.defis-title {
  font-size: 28px;
  color: rgb(0, 2, 227);
}

.defis-subtitle {
  font-size: 24px;
  color: rgb(0, 84, 227);
}

.defis-section {
  font-size: 20px;
  color: rgb(0, 56, 164);
}

.defis-subsection {
  font-size: 16px;
  color: rgb(34, 78, 163);
}

.defis-info {
  background: url("../images/message-24-info.png") no-repeat 10px 7px;
  background-color: rgba(52, 206, 255, 0.15);
  border: 1px solid #5bc0de;
  color: black;
  font-style: italic;
  padding: 10px 10px 10px 40px;
}

.defis-notes {
  background: url("../images/message-24-note.png") no-repeat 10px 7px;
  background-color: rgba(233, 199, 52, 0.5);
  border: 1px solid #ed5;
  color: black;
  font-style: italic;
  padding: 10px 10px 10px 40px;
}

.defis-warning {
  background: url("../images/message-24-warning.png") no-repeat 10px 7px;
  background-color: rgba(235, 67, 45, 0.2);
  border: 1px solid #d9534f;
  color: black;
  font-style: italic;
  padding: 10px 10px 10px 40px;
}

.defis-italic-title {
  font-style: italic;
}

.defis-subtitle-default {
  color: #aaa;
  font-style: italic;
}

.defis-special-container {
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ccc;
}

.defis-table thead th {
  background-color: #0065a2;
  color: #d9edf7;
  text-align: center;
}

.defis-reportdesc {
  border: 1px dotted #8f8f8f;
  background-color: #dfdfdf;
  color: #151515;
  font-style: oblique;
  font-size: 18px;
}
