/****************/
/*  DMS SYTLES  */
/****************/

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#om-menu-main-menu-ul-wrapper {
  min-height: 52px;
}
.admin-menu .om-maximenu.om-maximenu-block.om-maximenu-row .affix {
  top: 30px;
}

#block-views-block-about-defis-block .panel-body {
  padding: 0px;
}

#landingpage2 .image img {
  width: 1920px;
  height: 650px;
}

#landingpage2 .links .defis-sections {
  float: left;
  margin-left: 5%;
  height: 50px;
}

#landingpage2 .links .defis-sections a {
  color: #ffffff;
  background-color: #074a8b;
  padding: 10px 25px;
  text-decoration: none;
}

#landingpage2 .links .defis-sections a:hover {
  background-color: #0065a2;
}

#landingpage2 .links {
  position: absolute;
  margin-top: 56px;
  width: 100%;
}

#landingpage2 .about-land {
  background-color: #fff;
  float: left;
  margin: 100px 50px 0px 50px;
  opacity: 0.6;
  padding: 20px 50px;
  position: absolute;
  width: 1000px;
}

#landingpage2 .about-land p {
  color: #000;
  font-size: 16px;
}

#landingpage2 .image {
  max-height: 650px;
}

#block-block-4 .panel-body {
  padding: 0px;
}

#landingpage .image {
  width: 75%;
  float: left;
  height: 300px;
  overflow: hidden;
}

#landingpage .image img {
  width: 100%;
}

#landingpage .links .defis-sections {
  height: 75px;
  border: 1px solid;
  width: 25%;
  float: left;
  padding: 20px 0 0 65px;
  background-color: #ccc;
}

#landingpage .links .defis-sections:hover {
  background-color: #666;
}

#landingpage .links .defis-sections a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

#landingpage .links .defis-sections a img {
  margin-right: 20px;
}

#block-block-3 .panel-body,
#block-block-14 .panel-body {
  padding: 15px 5px;
}

#block-block-3,
#block-block-14,
#block-block-15,
#block-block-16,
#block-block-5,
#block-block-17,
#block-block-18,
#block-block-7,
#block-block-9,
#block-block-10,
#block-block-11 {
  background-color: #f7f7f7;
  margin: 0 2%;
  width: 36%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  float: left;
  height: 85px;
  margin-bottom: 15px;
}

#block-block-5,
#block-block-17,
#block-block-18,
.term-contact {
  background-color: #0065a2;
}

#block-block-18 {
  height: 95px;
}

#block-block-15 {
  height: 75px;
}

#block-block-7,
#block-block-9,
#block-block-10,
#block-block-11 {
  height: 50px;
}

#block-block-5 p,
#block-block-17 p,
#block-block-18 p {
  margin-bottom: 3px;
}

#block-block-18 .panel-body {
  padding-top: 5px;
}

#block-block-5 span,
#block-block-17 span,
#block-block-18 span {
  color: white;
  font-size: 19px;
  font-weight: bold;
}

#block-block-18 span {
  font-size: 17px;
}

#block-block-18 ul li {
  color: #ffffff;
  font-size: 12px;
}

#block-block-5 a,
#block-block-17 a,
#block-block-18 a {
  color: #ffffff;
  font-size: 12px;
  text-decoration: underline;
}

#block-block-3 .content .sfclink-img,
#block-block-14 .content .sfclink-img,
#block-block-15 .content .sfclink-img,
#block-block-16 .content .sfclink-img {
  float: left;
  text-align: center;
  width: 65px;
}

#block-block-3 .content p.sfclink-text,
#block-block-14 .content p.sfclink-text,
#block-block-15 .content p.sfclink-text,
#block-block-16 .content p.sfclink-text {
  margin-bottom: 0px;
}

#block-block-3 .content li.sfclink-text,
#block-block-14 .content li.sfclink-text,
#block-block-15 .content li.sfclink-text,
#block-block-16 .content li.sfclink-text {
  margin-left: 20%;
}

.sfclink-text a {
  float: left;
  background-color: #f7f7f7;
  border: none;
  /*padding: 5px 0 0 0;*/
}

#block-block-15 .sfclink-text a {
  float: none;
}

.sfclink-text a:hover {
  background-color: #f7f7f7;
}

.sfclink-text .sfclinks-title {
  font-size: 16px;
  font-weight: bold;
}

#block-block-15 .sfclink-text .sfclinks-title {
  font-size: 14px;
}


/* Menus.*/

.region-featured .block-om-maximenu .panel-body.content {
  padding: 0px;
}


/* first time block*/

#block-block-8 .panel-body,
#block-block-12 .panel-body,
#block-block-13 .panel-body,
#block-block-19 .panel-body,
#block-block-23 .panel-body,
#block-block-24 .panel-body,
#block-block-26 .panel-body {
  padding: 15px 5px;
}

#block-block-8,
#block-block-12,
#block-block-13,
#block-block-19,
#block-block-23,
#block-block-24,
#block-block-26 {
  background-color: #0065a2;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#block-block-8 .content,
#block-block-12 .content,
#block-block-13 .content,
#block-block-19 .content,
#block-block-23 .content,
#block-block-24 .content,
#block-block-26 .content {
  color: #fff;
}

#block-block-8 .content .sfcfirst-img,
#block-block-12 .content .sfcfirst-img,
#block-block-13 .content .sfcfirst-img,
#block-block-19 .content .sfcfirst-img,
#block-block-23 .content .sfcfirst-img,
#block-block-24 .content .sfcfirst-img,
#block-block-26 .content .sfcfirst-img {
  float: left;
  height: 100%;
  text-align: center;
  width: 65px;
}

#block-block-8 .content .title-first-sfc,
#block-block-12 .content .title-first-sfc,
#block-block-13 .content .title-first-sfc,
#block-block-19 .content .title-first-sfc,
#block-block-23 .content .title-first-sfc,
#block-block-24 .content .title-first-sfc,
#block-block-26 .content .title-first-sfc {
  font-size: 14px;
  font-weight: bold;
}

#block-block-8 .sfcfirst-text,
#block-block-12 .sfcfirst-text,
#block-block-13 .sfcfirst-text,
#block-block-19 .sfcfirst-text,
#block-block-23 .sfcfirst-text,
#block-block-24 .sfcfirst-text,
#block-block-26 .sfcfirst-text {
  float: left;
  padding-top: 5px;
  width: 175px;
}

#block-block-8 .content .text-first-sfc,
#block-block-12 .content .text-first-sfc,
#block-block-13 .content .text-first-sfc,
#block-block-23 .content .text-first-sfc,
#block-block-24 .content .text-first-sfc,
#block-block-26 .content .text-first-sfc {
  float: left;
  font-size: 13px;
}

.sfcfirst-text .list-group-item,
.sfcfirst-text .title-first-sfc a,
.sfcfirst-text .text-first-sfc a,
.sfcfirst-img a {
  background-color: #0065a2;
  border: none;
  color: #ffffff;
  padding: 0px;
}

.sfcfirst-text .list-group-item:hover,
.sfcfirst-img a:hover {
  background-color: #0065a2;
  color: #fff;
}


/* Video home block*/

#block-views-agora-news-block-2 .panel-heading,
#block-views-defis-bvf-home-block-block-2 .panel-heading,
#block-views-defis-coli-home-block-block-2 .panel-heading,
#block-views-defis-swim-home-block-block-2 .panel-heading {
  background: url("../images/video-icon-25.png") no-repeat 10px 7px #0065a2;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
}

#block-views-agora-news-block-2 .view-footer,
#block-views-defis-bvf-home-block-block-2 .view-footer,
#block-views-defis-coli-home-block-block-2 .view-footer,
#block-views-defis-swim-home-block-block-2 .view-footer {
  border-top: 2px dashed #ccc;
  margin-top: 15px;
  padding-top: 5px;
}

#block-views-agora-news-block-2 .views-field-field-video .file a,
#block-views-defis-bvf-home-block-block-2 .views-field-field-video .file a,
#block-views-defis-coli-home-block-block-2 .views-field-field-video .file a,
#block-views-defis-swim-home-block-block-2 .views-field-field-video .file a {
  display: none;
}


/* Quick guides styles*/

#toc li {
  list-style: none;
}

#toc ol {
  display: none;
  float: left;
}

#toc li ol {
  margin: -3px 0px;
  padding-left: 0px;
  width: 100%;
}

.MsoNormalTable table tr td {
  border: 1px solid #000;
}

#toc li .link {
  width: 90%;
  float: left;
}

ul#toc li.hassub .icon {
  display: inline;
  background: rgba(0, 0, 0, 0) url("../images/plus_first_level.png") no-repeat scroll;
  padding: 9px;
  float: right;
}

ul#toc li.hassub .icon.active {
  background: rgba(0, 0, 0, 0) url("../images/minus_first_level.png") no-repeat scroll;
  padding: 9px;
  float: right;
}

ul#toc ol li.hassub .icon {
  display: inline;
  background: rgba(0, 0, 0, 0) url("../images/plus_low_level.png") no-repeat scroll;
  padding: 9px;
  float: right;
}

ul#toc ol li.hassub .icon.active {
  background: rgba(0, 0, 0, 0) url("../images/minus_low_level.png") no-repeat scroll;
  padding: 9px;
  float: right;
}

ul#toc>li>.link {
  background-color: #666666;
  padding: 4px;
  border-bottom: 3px solid #fff;
  padding: 4px;
}

ul#toc li .link a {
  color: #ffffff;
}

ul#toc .level-3 li .link,
ul#toc .level-4 li .link,
ul#toc .level-5 li .link {
  background-color: #ccc;
}

ul#toc .level-3 li .link {
  padding: 4px;
}

ul#toc .level-4 li .link {
  padding: 4px 15px 4px;
}

ul#toc .level-5 li .link {
  padding: 4px 30px 4px;
}

ul#toc .level-6 li .link {
  padding: 4px 45px 4px;
}

ul#toc .level-7 li .link {
  padding: 4px 60px 4px;
}

ul#toc .level-3>li>.link {
  border-top: 1px dashed #666;
}


/* QG content */

.WordSection1 p .Element {
  font-weight: bold;
}

.WordSection1 p .ElementItalic {
  font-style: italic;
}

.WordSection1 p {
  text-indent: 20px;
}

.WordSection1 p.ProcedureStep {
  text-indent: 0px !important;
}

#block-views-defis-show-defis-taxonomy-block .views-row,
#defis-homepage-bottom-buttons .links .defis-buttons {
  float: left;
  margin-left: 35px;
  height: 50px;
}

#block-views-defis-show-defis-taxonomy-block .views-row,
#defis-homepage-bottom-buttons .links .defis-buttons {
  margin-left: 1px;
}

#block-views-defis-show-defis-taxonomy-block .views-row:first-child {
  margin-left: 35px;
}

#block-views-defis-show-defis-taxonomy-block .views-row a,
#defis-homepage-bottom-buttons .links .defis-buttons a {
  color: #ffffff;
  background-color: #074a8b;
  padding: 10px 25px;
  text-decoration: none;
}

#block-views-defis-show-defis-taxonomy-block .views-row a:hover,
#defis-homepage-bottom-buttons .links .defis-buttons a:hover {
  background-color: #0065a2;
}

#block-views-defis-show-defis-taxonomy-block,
#defis-homepage-bottom-buttons .links {
  position: absolute;
  margin-top: 56px;
  width: 100%;
  z-index: 10;
  border: none;
  background: none;
}

#block-views-defis-landing-buttons-block-1 {
  position: relative;
  width: 80%;
  bottom: 20%;
  padding: 10px 25px;
  border: none;
}

#block-views-defis-landing-buttons-block-1.panel {
  background-color: transparent;
}

#block-views-defis-landing-buttons-block-1 .panel-heading {
  display: none;
}

#block-views-defis-landing-buttons-block-1 .panel-body {
  border: none;
  padding: 0px;
}

.term-links,
.term-defis-evaluation.panel,
.term-contact,
.pane-taxonomy-term-field-defis-contact,
.pane-taxonomy-term-field-about,
#block-views-defis-support-block-3 {
  background-color: #f7f7f7;
  margin: 0 2%;
  border: none;
  width: auto;
  float: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  margin-bottom: 15px;
  padding: 15px;
}

#block-views-defis-support-block-3 {
  background: url("../images/defis_icon_docs.png") no-repeat 10px 20px;
  padding: 0px;
}

#block-views-defis-support-block-3 .view-content {
  padding-left: 50px;
  padding-bottom: 25px;
  border-bottom: 2px dashed #fefefe;
}

#block-views-defis-support-block-3 .view-display-id-attachment_1 .view-content {
  background: url("../images/application-pdf.png") no-repeat px 15px;
  border-bottom: none;
}

.pane-taxonomy-term-field-defis-contact,
#block-views-defis-support-block-3 {
  background-color: #0065a2;
}

#block-views-defis-support-block-3 a,
.term-contact a,
.pane-taxonomy-term-field-defis-contact a,
.term-contact .field-label {
  color: #ffffff;
}

.term-links .field-label,
.term-contact .field-label {
  font-size: 19px;
}

.space20 {
  padding-top: 10px;
  padding-right: 60px;
}

#term-defis-links {
  background: url("../images/world_icon.png") no-repeat 10px 20px;
  background-color: #f7f7f7;
}

#term-defis-links .field-label {
  padding-left: 60px;
}

#term-defis-links .field-items {
  padding-left: 50px;
}

.term-links .field-items .field-item a {
  padding-left: 20px;
}

.term-links .field-items .field-item a:before {
  content: "• ";
}

#layout-footer {
  border-top: none;
  text-align: center;
  background-color: transparent;
}


/** TOC Styles **/

.tet.affix {
  top: 10%;
  width: 238px;
  max-height: 80%;
  overflow-y: scroll;
}

.tet.tocify ul {
  margin: 0px;
  padding: 0px;
}

.tocify-header {
  background-color: transparent;
}

.tocify-header .tocify-item {
  background-color: #525252;
}

.tocify-subheader .tocify-item {
  background-color: #848484;
}

.tocify-subheader .tocify-subheader .tocify-item {
  background-color: #aaaaaa;
}

.tocify-item.active,
.tocify-subheader .tocify-item.active {
  background-color: #0065a2;
}

.tocify-header .tocify-item a {
  color: white;
}

.tocify-header .tocify-item a:hover {
  background-color: #0489b1;
}

.node-type-quick-guide {
  font-size: 11px;
}

.node-type-quick-guide h2 {
  font-size: 25px;
}

.node-type-quick-guide h3 {
  font-size: 20px;
}

.node-type-quick-guide h4 {
  font-size: 15px;
}

.region-content ul,
.region-content ol {
  padding: 0 0 0.25em 0;
}

#defis-homepage-bottom-buttons {
  left: 50px;
  top: -297px;
  position: absolute;
  min-width: 500px;
}

.view-defis-show-defis-taxonomy,
#landingpage2 .about-land {
  min-width: 1230px;
}

#landingpage2 .about-land {
  min-width: 1171px;
}

@media screen and (max-width: 768px) {
  #defis-homepage-bottom-buttons {
    top: -297px;
  }
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

#block-block-22 .links > .col-md-2.decrease {
  width: 13.66666667%;
}

#block-block-22 .title-links,
#block-block-27 .title-links {
  background-color: transparent;
  background-image: url("../images/grantslanding1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover !important;
  border: medium none;
  box-shadow: none;
  height: 23vw;
  clear: both;
}

#block-block-22 .title-links .land-title,
#block-block-27 .title-links .land-title {
  padding-right: 5%;
  padding-top: 15%;
  text-align: right;
  width: 100%;
}

#block-block-22 .title-links .land-title span,
#block-block-27 .title-links .land-title span {
  color: #fff;
  font-family: "Trebuchet MS";
  font-size: 4.9vw;
  line-height: 1;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

#block-block-22 .link-home .defis,
#block-block-27 .link-home .defis {
  text-align: center;
}

#block-block-22 .link-home .header,
#block-block-27 .link-home .header {
  background-color: #0065a2;
  border-left: 1px dotted #666;
  color: #eee;
  font-size: 15px;
  padding: 0px 0px;
  text-align: center;
}

#block-block-22 .title-links .header,
#block-block-27 .title-links .header {
  background-color: #0065a2;
  border-left: 1px dotted #666;
  color: #eee;
  font-size: 15px;
  padding: 0px 0px;
  text-align: center;
}

#block-block-22 .link-home .defisbtn,
#block-block-27 .link-home .defisbtn {
  padding: 5px;
}

#block-block-22 .link-home .defisbtn.up,
#block-block-27 .link-home .defisbtn.up {
  margin-bottom: 0px;
}

#block-block-22 .link-home .defisbtn.down,
#block-block-27 .link-home .defisbtn.down {
  margin-top: 0px;
}

#block-block-22 .link-home .defisbtn a,
#block-block-27 .link-home .defisbtn a {
  display: block;
  padding: 5px;
  width: 100%;
}

#block-block-22 .link-home .defisbtn:hover,
#block-block-27 .link-home .defisbtn:hover {
  background-color: aliceblue;
  cursor: pointer;
}

#block-block-22 .link-home .defisbtn img,
#block-block-27 .link-home .defisbtn img {
  width: 75px;
}

#block-block-22 .link-home .defisbtn a,
#block-block-27 .link-home .defisbtn a {
  border-left: 1px dotted #ccc;
}

#block-block-22 .link-home .defisbtn a:first,
#block-block-27 .link-home .defisbtn a:first {
  border-left: none;
}

#block-block-22 .link-home .defisbtn.down .btn-callpubproc,
#block-block-22 .link-home .defisbtn.up .evaluation,
#block-block-27 .link-home .defisbtn.down .btn-callpubproc,
#block-block-27 .link-home .defisbtn.up .evaluation {
  border-left: none;
}

#block-block-22 .panel-body,
#block-block-27 .panel-body {
  padding: 0px;
}

.defis-latest-docs .pane-title,
.defis-latest-videos .pane-title {
  background: #0065a2 url("../images/icon_docs-25.png") no-repeat scroll 10px 7px;
  border: medium none;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  padding: 10px 40px;
  box-sizing: border-box;
}

.defis-latest-videos .pane-title {
  background: #0065a2 url("../images/video-icon-25.png") no-repeat scroll 10px 7px;
}

.defis-latest-docs .defis-latest-footer,
.defis-latest-videos .defis-latest-footer {
  border-top: 2px dashed #ccc;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}

.panel .panel-body .view-defis-evaluation-latest-docs .list-group a {
  display: inline-block;
  padding: 0px;
}

#block-system-main .view-content .views-row.views-row-first {
  border-top: 1px solid #ddd;
}

#block-system-main .view-content .views-row:hover {
  background-color: aliceblue;
}

#block-system-main .view-content .views-row {
  padding: 15px;
}

.view-defis-evaluation-latest-docs ul,
.view-defis-bvf-latest-docsvids ul,
.view-defis-coli-latest-docsvids ul,
.view-defis-swim-latest-docsvids ul,
.view-defis-publigrant-latest-docs ul,
.view-defis-external-expert-latest-docsvids ul {
  list-style-type: none;
  padding: 10px 10px 10px 50px;
}

.view-defis-evaluation-latest-docs .file img,
.view-defis-bvf-latest-docsvids .file img,
.view-defis-coli-latest-docsvids .file img,
.view-defis-swim-latest-docsvids .file img,
.view-defis-publigrant-latest-docs .file img,
.view-defis-external-expert-latest-docsvids .file img {
  float: left;
}

.view-defis-evaluation-latest-docs .file a,
.view-defis-bvf-latest-docsvids .file a,
.view-defis-coli-latest-docsvids .file a,
.view-defis-swim-latest-docsvids .file a,
.view-defis-publigrant-latest-docs .file a,
.view-defis-external-expert-latest-docsvids .file a {
  padding: 0px;
}

.view-defis-publigrant-latest-docs .list-group .file a,
.view-defis-external-expert-latest-docsvids .list-group .file a {
  padding: 0px;
}

.view-defis-evaluation-latest-docs .list-group .views-field-title .field-content a,
.view-defis-bvf-latest-docsvids .list-group .views-field-title .field-content a,
.view-defis-coli-latest-docsvids .list-group .views-field-title .field-content a,
.view-defis-swim-latest-docsvids .list-group .views-field-title .field-content a,
.view-defis-publigrant-latest-docs .list-group .views-field-title .field-content a,
.view-defis-external-expert-latest-docsvids .list-group .views-field-title .field-content a,
.view-defis-evaluation-latest-docs .list-group .views-field-field-video .field-content a,
.view-defis-bvf-latest-docsvids .list-group .views-field-field-video .field-content a,
.view-defis-coli-latest-docsvids .list-group .views-field-field-video .field-content a,
.view-defis-swim-latest-docsvids .list-group .views-field-field-video .field-content a,
.view-defis-publigrant-latest-docs .list-group .views-field-field-video .field-content a,
.view-defis-external-expert-latest-docsvids .list-group .views-field-field-video .field-content a,
.view-defis-bvf-latest-docsvids .list-group .views-field-field-document .field-content a,
.view-defis-coli-latest-docsvids .list-group .views-field-field-document .field-content a,
.view-defis-swim-latest-docsvids .list-group .views-field-field-document .field-content a {
  padding: 0px 0px 0px 15px;
}

#block-views-defis-contact-block-block {
  margin: 0 2%;
  border: none;
  border-radius: 0;
}

#block-views-defis-contact-block-block,
#block-views-defis-contact-block-block:hover {
  color: white;
  background-color: #0065a2;
}

#block-views-defis-contact-block-block .view-header {
  font-size: 19px;
  font-weight: bold;
}

#block-views-defis-contact-block-block a {
  color: white;
}

#block-system-main #block-views-defis-contact-block-block .view-content .views-row {
  padding: 0px;
}

#block-system-main #block-views-defis-contact-block-block .view-content .views-row.views-row-first {
  border-top: none;
}

#block-system-main #block-views-defis-contact-block-block .view-content .views-row:hover {
  background-color: #0065a2;
}

#block-views-defis-contact-block-block span.views-field {
  padding-top: 5px;
}

#block-views-defis-contact-block-block span.email-icon .field-content {
  background: url("../images/icon_mail-12.png") no-repeat 0px 7px;
  padding-left: 20px;
  padding-bottom: 5px;
}

#block-views-defis-contact-block-block span.phone-icon .field-content {
  background: url("../images/icon_phone_round-12.png") no-repeat 0px 5px;
  padding-left: 20px;
}

#block-views-defis-contact-block-block span.schedule-icon .field-content {
  background: url("../images/icon_calendar-12.png") no-repeat 0px 5px;
  padding-left: 20px;
}

.WordSection1 ul {
  padding-left: 25px;
}

#banner-image-right,
#banner-image-right .region-header-right {
  width: 350px;
}

#block-block-25 {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: block;
  float: left;
  margin-top: -12px;
  margin-bottom: 0px;
  width: 80px;
}

#responsive-sidebar #block-block-25 {
  margin-top: -20px;
}

#extexp-selector h2.pane-title {
  font-size: 14px;
}

.page-node-191 #block-system-main,
.page-node-191 #content-wrapper .tabs {
  display: none;
}

#block-block-25 {
  background-color: #fcf8e3;
  background-image: url("../images/message-24-warning.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  border: 1px solid #fbeed5;
  color: #a77f3a;
  margin: 5px 0px;
  padding-left: 30px;
  width: 100%;
}

#block-block-25 p {
  margin-bottom: 0px;
}

#block-block-25 span {
  vertical-align: middle;
}


/* CALLOUTS */

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout:hover {
  background-color: #f1f9fb;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

.node-page .btn.text-left {
  text-align: left;
}

.bs-callout-half {
  margin: 5px 0;
  padding: 5px;
}

.bs-callout-half p span a {
  margin-left: 25px;
}

.panel-default a.clickable {
  color: white;
}
.panel-default a.clickable:hover {
  color: white;
}

.panel-info a.clickable {
  color: #0065a2;
}
.panel-info a.clickable:hover {
  color: #0065a2;
}

.panel-heading p {
  margin: 0;
}

#block-om-maximenu-om-maximenu-6,
#block-om-maximenu-om-maximenu-6 .panel-body .navbar-default {
  border: none;
}
#block-om-maximenu-om-maximenu-6 .panel-heading {
  display: none;
}
#block-om-maximenu-om-maximenu-1 .content .navbar {
  -moz-box-shadow: 5px 5px 5px 0px #888;
  -webkit-box-shadow: 5px 5px 5px 0px #888;
  box-shadow: 5px 5px 5px 0px #888;
}

#block-om-maximenu-om-maximenu-1 .content .navbar ul.om-menu li.om-leaf .om-link {
  padding: 15px 14px;
  margin: 0 1px;
}

#block-om-maximenu-om-maximenu-6 .panel-body .navbar {
  background-color: #002f4b;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.75;
}

#block-om-maximenu-om-maximenu-6 {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#block-om-maximenu-om-maximenu-6 .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link {
  font-size: 13px;
  color: #fff;
}

#block-om-maximenu-om-maximenu-6 .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link:hover {
  font-size: 13px;
  color: #d9edf7;
}

.btn-callout {
  border: none;
  border-radius: 0px;
  margin: 5px 0;
  padding: 5px;
  text-align: left;
}


.btn-callout span.indent-left {
  margin-left: 25px;
}

.btn-callout-primary {
  border-left-color: #428bca;
}

.btn-callout:hover {
  background-color: #f1f9fb;
}

.btn-callout:active {
  background-color: #bedce2;
}

.custom-block .panel-body {
  padding: 15px 5px;
}

.custom-block .content {
  color: #fff;
}

.custom-block .content .sfcfirst-img {
  float: left;
  height: 100%;
  text-align: center;
  width: 65px;
}

.custom-block .content .title-first-sfc {
  font-size: 14px;
  font-weight: bold;
}

.custom-block .sfcfirst-text {
  float: left;
  padding-top: 5px;
  width: 170px;
}

.custom-block .content .text-first-sfc {
  float: left;
  font-size: 13px;
}

.sfcfirst-text .list-group-item,
.sfcfirst-text .title-first-sfc a,
.sfcfirst-text .text-first-sfc a,
.sfcfirst-img a {
  background-color: #0065a2;
  border: none;
  color: #ffffff;
  padding: 0px;
}

.sfcfirst-text .list-group-item:hover,
.sfcfirst-img a:hover {
  background-color: #0065a2;
  color: #fff;
}

.custom-block,
.links-block,
.mails-block {
  align-items: left;
  background-color: #0065a2;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
.mails-block.single {
  align-items: center;
  justify-content: center;
}
.links-block li {
  margin-left: 50px;
}
.mails-block a,
.links-block a {
  color: white;
}

.custom-block .content {
  margin-top: 15px;
}
.links-block-list {
  margin-top: 15px;
  list-style: none;
}

.custom-block-title {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 0px 10px 50px;
}

.custom-block-title.news {
  background: #0065a2 url("../images/calendar_25.png") no-repeat scroll 10px 7px;
}
.custom-block-title.documents {
  background: #0065a2 url("../images/icon_docs-25.png") no-repeat scroll 10px 7px;
}
.custom-block-title.videos {
  background: #0065a2 url("../images/video-icon-25.png") no-repeat scroll 10px 7px;
}

.links-block {
  background: #0065a2 url("../images/web-links-white-50.png") 10px 30px no-repeat;
  background-size: 40px;
}

.mails-block span.email-icon {
  background: url("../images/icon_mail-12.png") no-repeat 0px 3px;
  padding-left: 20px;
}
.mails-block span.phone-icon {
  background: url("../images/icon_phone_round-12.png") no-repeat 0px 3px;
  padding-left: 20px;
}
.mails-block span.schedule-icon {
  background: url("../images/icon_calendar-12.png") no-repeat 0px 3px;
  padding-left: 20px;
}
