#newsletter,
#newsletter-footer {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#newsletter a,
#newsletter-footer a {
  color: #0065a2;
  text-decoration: none;
}
#newsletter img,
#newsletter-footer img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
#newsletter table,
#newsletter-footer table {
  border-collapse: collapse !important;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  border-spacing: 0;
}
#newsletter table td,
#newsletter table tr,
#newsletter-footer table td,
#newsletter-footer table tr {
  border-collapse: collapse !important;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
#newsletter #banner {
  max-width: 1024px;
}
#newsletter #logo p,
#newsletter #banner p {
  margin: 0;
  padding: 0;
  display: block;
}
#newsletter #menu-links {
  width: 100%;
  background: #0065a2;
}
#menu-links-bottom-space {
  color: #0065a2;
  font-size: 5px;
}
#newsletter #menu-links a {
  color: #d9edf7;
  white-space: nowrap;
  text-decoration: none;
}
#newsletter #menu-links a:active,
#newsletter #menu-links a:visited {
  color: #d9edf7;
}
#newsletter #menu-links span {
  color: #0065a2;
  font-size: 22px;
}
#newsletter #logo-img {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
#layout-header {
  width: 100%;
  background-color: #fff;
}
#newsletter #main-title {
  color: #0065a2;
  text-transform: uppercase;
  font-size: 24px;
  background: #fff;
  width: 100%;
}
#newsletter #sub-title {
  font-size: 17px;
  color: #fff;
  background: #0065a2;
  width: 100%;
}
#newsletter #fixed-min-width-maker {
  color: #0065a2;
  font-size: 5px;
}
#newsletter-footer-menu a {
  display: block;
}
#newsletter-footer-menu img {
  display: block;
}
