<template>
  <div>
    <select v-model="selectedOption" @change="event => { $emit('input', event.target.value) }">
      <option
        v-for="option in options"
        v-bind:value="option.value"
        v-bind:key="option.value"
        >{{ option.text }}</option
      >
    </select>
  </div>
</template>

<script>
export default {
  props: {
    value: null,
    options: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      selectedOption: null
    };
  },
  mounted() {
    this.selectedOption = this.value;
  },
  watch: {
    value: function(newValue) {
      this.selectedOption = newValue;
    }
  }
};
</script>
