<template>
  <div class="publication-item row-fluid">
    <div class="publication-header">
      <h3>
        <router-link
          :to="{ name: 'publication', params: { id: publication.id } }"
        >
          <span class="publication-title">
            <span v-html="publication.translation[0].title"></span>
            <small class="muted monospace">{{
              publication.details.reference
            }}</small>
          </span>
        </router-link>
        <br />
        <span class="languages languages-small ">
          <router-link
            v-for="(item, index) in publication.translation"
            :key="index"
            :to="{
              name: 'publication',
              params: { id: publication.id },
              query: { lang: index }
            }"
            :class="{ selected: index == 0 }"
          >
            {{ item.language }}
          </router-link>
        </span>
      </h3>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <table class="table table-small table-bordered">
          <tbody>
            <tr class="even">
              <th>Reference</th>
              <td class="monospace">{{ publication.details.reference }}</td>
            </tr>
            <tr class="odd">
              <th>Programme</th>
              <td>
                <span class="tag">{{ publication.programme }}</span>
              </td>
            </tr>
            <tr class="even">
              <th>Call for proposals</th>
              <td class="monospace">
                <span class="tag">{{
                  publication.details.selectionProcedureRef
                }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span6">
        <table class="table table-small table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Total costs</th>
              <th>EU Contribution</th>
            </tr>
          </thead>
          <tbody>
            <tr class="even">
              <th>Initial</th>
              <td class="monospace">
                {{
                  publication.details.initialTotalCost
                    | currency("€", 2, ".", ",")
                }}
              </td>
              <td class="monospace">
                {{
                  publication.details.initialEuContribution
                    | currency("€", 2, ".", ",")
                }}
              </td>
            </tr>
            <tr class="odd">
              <th>Final</th>
              <td class="monospace">
                {{
                  publication.details.finalTotalCost
                    | currency("€", 2, ".", ",")
                }}
              </td>
              <td class="monospace">
                {{
                  publication.details.finalEuContribution
                    | currency("€", 2, ".", ",")
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row-fluid">
      <dl class="span6 compact">
        <dt class="capsule">Countries involved</dt>
        <dd v-html="publication.countries"></dd>
      </dl>
      <dl class="span6 compact">
        <dt class="capsule">Direct Target Groups</dt>
        <dd v-html="publication.directTargetGroups"></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span6 compact">
        <dt class="capsule">Ultimate Target Groups</dt>
        <dd v-html="publication.ultimateTargetGroups"></dd>
      </dl>
      <dl class="span6 compact">
        <dt class="capsule">Policy Areas</dt>
        <dd v-html="publication.policyAreas"></dd>
      </dl>
    </div>
    <hr class="separator" />
    <div class="summary">
      <div v-html="publication.translation[0].summary"></div>
      <router-link :to="{ name: 'publication', params: { id: publication.id } }"
        >Read more »</router-link
      >
      <hr class="strong" />
    </div>
  </div>
</template>

<script>
import Publication from "../models/PublicationClass";

export default {
  name: "PublicationCard",
  props: {
    publication: { type: Publication, required: true }
  }
};
</script>
