<template>
  <div id="app">
    <router-view :key="this.$route.fullPath"></router-view>
  </div>
</template>

<script>
// TODO move progress code to separate file.
import store from "@/store/store";
import NProgress from "nprogress";
NProgress.configure({ easing: "ease", speed: 500, showSpinner: false });
store.watch(
  state => state.loader.loading,
  (newVal, oldVal) => {
    if (newVal === 0) return NProgress.done();
    if (oldVal === 0) return NProgress.start();
    NProgress.set(1.8 / Math.max(oldVal, newVal));
  }
);

export default {
  name: "app",
  created() {
    // Get config.
    this.$store.dispatch("config/getProgrammes");
    this.$store.dispatch("config/getCountries");
  }
};
</script>

<style lang="scss">
@import "./assets/css/bootstrap.scss";
@import "./assets/css/nprogress.css";

#layout-body {
  position: relative;
  min-height: calc(100% - 320px);
  .row:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    #content-wrapper {
      height: 100%;
      & > .row {
        height: 100%;
        & > div {
          height: 100%;
          .region-content {
            height: 100%;
          }
        }
      }
    }
  }
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  .linkstyle {
    cursor: pointer;
    color: #0088cc;
    text-decoration: none;
  }
  .linkstyle:hover {
    color: #005580;
    text-decoration: underline;
  }
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
  .publication-item {
    .row-fluid {
      width: auto;
    }
    .languages {
      overflow: hidden;
      white-space: nowrap;
    }
    .languages.languages-small a,
    .languages.languages-small span {
      height: 14px;
      line-height: 14px;
      width: 14px;
      padding: 1px;
      font-size: 11px;
      margin: 7px 6px 0 0;
    }
    .languages .selected {
      font-weight: normal;
      color: #000;
      border: 1px solid #000;
      padding: 1px !important;
      background: #fff;
    }
    .languages a,
    .languages span {
      display: inline-block;
      background: #fff;
      color: #888;
      border: 1px solid #888;
      height: 20px;
      line-height: 20px;
      width: 20px;
      text-decoration: none;
      text-align: center;
      padding: 1px;
      margin: 10px 6px;
    }
    .languages a:hover {
      color: #000;
      border-color: #000;
      background: #ccc;
    }
  }
  .tag {
    margin-right: 3px;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .ripple-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
  }
  .ripple {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 20px;
    left: calc(50% - 32px);
    top: calc(50% - 32px);

    &__circle {
      position: absolute;
      border: 4px solid #0088cc;
      opacity: 1;
      border-radius: 50%;
      animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    &__inner-circle {
      animation-delay: -0.5s;
    }
  }

  @keyframes ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
}
</style>
