/* Agora Styles.*/

body {
  background-color: #fff;
  background-image: none;
}

#layout-body .tabs {
  clear: both;
}

.node-page .content {
  padding: 20px;
}


/*Titles portal*/

h1#page-title {
  font-size: 24px;
}


/* Header */


/* Region header right */

#banner-image-right,
#banner-image-right .region-header-right {
  height: 30px;
  /*margin-top: 15px;*/
  width: 295px;
}

#block-system-user-menu {
  float: left;
}

#block-search-form {
  margin-top: 8px;
}


/* Login agm block - using flahs message block */

#block-views-agm-flash-message-block-1 {
  border: medium none;
  float: left;
  width: 80px;
}

#block-views-agm-flash-message-block-1 .panel-body.content {
  border: medium none;
  height: 25px;
  padding: 0px;
}

#block-views-agm-flash-message-block-1 .panel-body.content #agora-btt {
  background-color: #0065a2;
  color: #ffffff;
  padding: 5px 20px;
  text-decoration: none;
}

#block-views-agm-flash-message-block-1 .panel-body.content #agora-btt:hover {
  background-color: #074a8b;
}


/* Search form */

#search-block-form {
  float: left;
  margin-top: -5px;
  width: 150px;
}

#search-block-form .input-group {
  padding-left: 15px;
}

#search-block-form .input-group .form-item-search-block-form input {
  border-color: #0065a2;
  border-radius: 0px;
  height: 30px;
  width: 130px;
}

#search-block-form .input-group .input-group-btn .form-actions input {
  background-color: #0065a2;
  border-color: #0065a2;
  border-radius: 0px;
  height: 30px;
  padding: 3px;
  width: 30px;
}


/* Search page */

.apachesolr_search-results .search-result .search-info {
  display: none;
}


/* HOME AGORA */

body {
  filter: none;
}

.front #page-title,
.front #block-system-main {
  display: none;
}


/*Carousel*/

#block-views-view-ec-content-slider-block,
#block-views-view-ec-content-slider-block-1,
#block-views-view-ec-content-slider-block-2,
#block-views-view-ec-content-slider-block-3 {
  float: left;
}

#block-views-agora-slider-block.panel {
  border: none;
  box-shadow: none;
}

#block-views-agora-slider-block {
  margin-bottom: 0px;
}

#flexslider_views_slideshow_agora_slider-block,
#block-views-agora-slider-block .panel-body,
#block-views-view-ec-content-slider-block-1 .panel-body,
#block-views-view-ec-content-slider-block-2 .panel-body,
#block-views-view-ec-content-slider-block-3 .panel-body {
  padding: 0px;
}

.flexslider.carousel {
  /*margin-bottom: 20px;*/
  margin: 0px;
  /*max-width: 65%;*/
}

#block-views-agora-slider-block .view-agora-slider {
  margin-top: -15px;
}

.carousel {
  max-width: 840px;
}

.carousel-caption {
  /*bottom: 95px;*/
  color: #525252;
  left: 3%;
  padding-bottom: 45px;
  right: 55%;
  text-align: left;
  text-shadow: none;
  top: -25px;
}

.carousel .carousel-caption {
  background-color: #fff;
  border-radius: 0px;
  padding: 30px;
}

.carousel .carousel-caption a {
  color: #074a8b;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.carousel .carousel-caption p {
  font-size: 13px;
  margin-top: 10px;
}

.flex-control-nav li {
  margin: 0px 1px;
}

.flex-control-paging li a {
  background: none repeat scroll 0 0 rgba(123, 175, 207, 0.5);
  border-radius: 0px;
  height: 9px;
  width: 35px;
}

.flex-control-paging li a.flex-active {
  background-color: #0065a2;
}

.flex-control-paging li a.hover {
  background-color: #0065a2;
}

.flex-control-nav {
  bottom: 105px;
  right: 150px;
  z-index: 15;
}

#flexslider_views_slideshow_main_agora_slider-block .copyright-image {
  color: #999;
  font-size: 9px;
  font-style: italic;
  text-align: right;
}


/* Last news block - home*/

#block-views-agora-news-block,
#block-views-defis-bvf-home-block-block,
#block-views-defis-coli-home-block-block,
#block-views-defis-swim-home-block-block {
  border: none;
  border-radius: 0px;
}

#block-views-agora-news-block .panel-heading,
#block-views-defis-bvf-home-block-block .panel-heading,
#block-views-defis-coli-home-block-block .panel-heading,
#block-views-defis-swim-home-block-block .panel-heading {
  background: url("../images/calendar_25.png") no-repeat 10px 7px #0065a2;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 50px;
}

#block-views-agora-news-block .panel-body,
#block-views-defis-bvf-home-block-block .panel-body,
#block-views-defis-coli-home-block-block .panel-body,
#block-views-defis-swim-home-block-block .panel-body {
  background-color: #f7f7f7;
}

#block-views-agora-news-block .panel-body .view-footer,
#block-views-defis-bvf-home-block-block .panel-body .view-footer. #block-views-defis-coli-home-block-block .panel-body .view-footer,
#block-views-defis-swim-home-block-block .panel-body .view-footer {
  border-top: 1px dotted #ccc;
  padding-top: 12px;
}

#block-views-agora-news-block .panel-body a,
#block-views-defis-bvf-home-block-block .panel-body a,
#block-views-defis-coli-home-block-block .panel-body a,
#block-views-defis-swim-home-block-block .panel-body a {
  color: #074a8b;
  font-size: 14px;
  font-weight: bold;
}

.view-agora-news.view-display-id-block .views-row {
  margin-bottom: 12px;
}


/* HOME - blocks*/

.region-content-bottom #block-views-agora-news-block-1,
.region-content-bottom #block-views-agora-news-block-2,
.region-content-bottom #block-block-2 {
  float: left;
  margin-right: 10px;
  width: 32%;
}


/* HOME Docs block*/

#block-views-agora-news-block-1 .panel-heading,
#block-views-defis-bvf-home-block-block-1 .panel-heading,
#block-views-defis-coli-home-block-block-1 .panel-heading,
#block-views-defis-swim-home-block-block-1 .panel-heading {
  background: url("../images/icon_docs-25.png") no-repeat 10px 7px #0065a2;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 42px;
}

#block-views-agora-news-block-1 .namefile a,
#block-views-defis-bvf-home-block-block-1 .namefile a,
#block-views-defis-coli-home-block-block-1 .namefile a,
#block-views-defis-swim-home-block-block-1 .namefile a {
  display: none;
}

#block-views-agora-news-block-1 .view-footer,
#block-views-defis-bvf-home-block-block-1 .view-footer,
#block-views-defis-coli-home-block-block-1 .view-footer,
#block-views-defis-swim-home-block-block-1 .view-footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 2px dashed #ccc;
}


/* first time*/

#block-block-2 .panel-body {
  padding: 15px 5px;
  text-align: center;
}

#block-block-2 {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#block-block-2 .content a {
  color: #0065a2;
}

#block-block-2 .content .sfcfirst-img {
  height: 100%;
  margin: 10px auto;
  width: 65px;
}

#block-block-2 .content .title-first-sfc {
  font-size: 14px;
  font-weight: bold;
}

#block-block-2 .sfcfirst-text {
  margin: 0 auto;
  width: 175px;
}

#block-block-2 .content .text-first-sfc {
  font-size: 13px;
}


/* lastest content blocks*/

.view-agora-news .view-header .img-header {
  margin-bottom: 10px;
  text-align: center;
}

.view-agora-news .view-header span {
  color: #0065a2;
  font-size: 16px;
  font-weight: bold;
}

#block-views-agora-news-block-2,
#block-views-agora-news-block-1 {
  border: none;
  box-shadow: none;
  /*float: left;
  margin-right: 1%;
  padding: 0 30px;
  width: 49%;*/
}

#block-views-agora-news-block-2 .views-field.views-field-title,
#block-views-agora-news-block-1 .views-field.views-field-title {
  text-align: center;
}

#block-block-2,
#block-views-agora-news-block-2 {
  /*border-left: 1px dotted #ccc;*/
  border-radius: 0px;
}


/* Support */


/* Menu Styles */

#block-views-tax-menu-block .view-content li a {
  margin: 2px;
  padding: 2px 15px;
  text-decoration: none;
}

#block-views-tax-menu-block .view-content li a.active {
  background-color: #606060;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
}

#block-views-tax-menu-block .view-content li a:hover {
  background-color: #0065a2;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  z-index: 2;
}


/* FAQ page */

.page-support .region-content .panel-body.content {
  padding: 0px;
}

.page-support .region-content .panel-body.content .view-agora-faq {
  border-radius: 4px;
}

.view-agora-faq .view-header {
  background-color: #0065a2;
  border-radius: 4px 4px 0px 0px;
  color: #ffffff;
  padding: 10px 20px;
}

.view-agora-faq .view-content blockquote {
  font-size: 14px;
}


/* support blocks tables */

.view-agm-support .view-content .views-field-nothing {
  width: 50px;
}

.view-agm-support .view-content .views-field-title {
  width: 210px;
}

.view-agm-support .view-content .views-field-created {
  width: 130px;
}


/*flash alert message*/

#block-views-agm-flash-message-block .panel-body {
  padding: 0px;
}

#block-views-agm-flash-message-block {
  border: 0px #ffffff;
  box-shadow: 0px;
}
