/*
 * jquery.tocify.css 1.9.0
 * Author: @gregfranko
 */


/* The Table of Contents container element */

#toc {
  padding: 0px;
}

#toc.affix {
  top: 70px;
  max-height: 80%;
  overflow-y: scroll;
}

.admin-menu #toc.affix {
  top: 100px;
}

.tocify {
  max-height: 90%;
  overflow: auto;
  border: 1px solid #ccc;
  webkit-border-radius: 6px;
  moz-border-radius: 6px;
  border-radius: 6px;
}


/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */

.tocify ul,
.tocify li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: none;
  line-height: 25px;
}


/* Top level header elements */

.tocify-header {
  text-indent: 10px;
}


/* Top level subheader elements.  These are the first nested items underneath a header element. */

.tocify-subheader {
  text-indent: 20px;
  display: none;
}


/* Makes the font smaller for all subheader elements. */

.tocify-subheader li {
  font-size: 12px;
}


/* Further indents second level subheader elements. */

.tocify-subheader .tocify-subheader {
  text-indent: 30px;
}


/* Further indents third level subheader elements. You can continue this pattern if you have more nested elements. */

.tocify-subheader .tocify-subheader .tocify-subheader {
  text-indent: 40px;
}


/* Twitter Bootstrap Override Style */

.nav-list>li>a,
.nav-list .nav-header {
  margin: 0px;
}


/* Twitter Bootstrap Override Style */

.nav-list>li>a {
  padding: 5px;
}


/* Styles for the ToC*/

.tet.tocify {
  float: right;
  display: block;
}

.tocify-header {
  background-color: transparent;
  text-indent: 5px;
}

.tocify-subheader {
  text-indent: 10px;
}

.tocify-subheader .tocify-subheader {
  text-indent: 15px;
}

.tocify-subheader .tocify-subheader .tocify-subheader {
  text-indent: 20px;
}

.tocify-subheader .tocify-subheader .tocify-subheader .tocify-subheader {
  text-indent: 25px;
}

.tocify-header .tocify-item {
  /*background: #848484;*/
  background-color: #525252;
}

.tocify-subheader .tocify-item {
  /*background: #BDBDBD;*/
  background-color: #848484;
}

.tocify-subheader .tocify-subheader .tocify-item {
  /*background: #E6E6E6;*/
  background-color: #aaaaaa;
}

.tocify-item.active,
.tocify-subheader .tocify-item.active {
  /*background-color: #0489B1;*/
  background-color: #0065a2;
}

.tocify-header .tocify-item a {
  color: white;
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid;
}

.tocify-header:last-child .tocify-item a {
  border-bottom: none;
}

.tocify-header .tocify-item a:hover {
  background-color: #0489b1;
}
