<template>
  <div class="home">
    <transition name="fade" v-if="$store.getters['loader/loading'] > 0">
      <div class="ripple-cover">
        <div class="ripple">
          <div class="ripple__circle"></div>
          <div class="ripple__circle ripple__inner-circle"></div>
        </div>
      </div>
    </transition>
    <div id="page-wrapper" v-else>
      <div id="header">
        <div class="filter">
          <form @submit.prevent="search">
            <label for="select-programme">Programmes: </label>
            <dropdown
              id="select-programme"
              :options="programmes"
              v-model="selectedProgramme"
            />
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
      <div key="pager-top" v-if="pagecount > 1">
        <paginate
          v-model="page"
          :page-count="pagecount"
          :click-handler="pagerAction"
          :prev-text="'Prev'"
          :next-text="'Next'"
          :container-class="'nav nav-tabs'"
        />
      </div>
      <div id="publications">
        <h3 v-if="publications.length === 0">
          No results
        </h3>
        <publication-card
          v-for="publication in publications"
          :key="publication.id"
          :publication="publication"
        />
      </div>
      <div key="pager-bottom" v-if="pagecount > 1">
        <paginate
          v-model="page"
          :page-count="pagecount"
          :click-handler="pagerAction"
          :prev-text="'Prev'"
          :next-text="'Next'"
          :container-class="'nav nav-tabs'"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
// @ is an alias to /src
import Dropdown from "@/components/Dropdown";
import Paginate from "vuejs-paginate";
Vue.component("paginate", Paginate);
import PublicationCard from "../components/PublicationCard";
const _ = require("lodash");

export default {
  name: "home",
  components: {
    PublicationCard,
    dropdown: Dropdown
  },
  data() {
    return {
      selectedProgramme: "1",
      page: this.$route.query.page ? Number(this.$route.query.page) : 1
    };
  },
  created() {
    if (this.$route.query.programmeId) {
      this.selectedProgramme = this.$route.query.programmeId;
    }
    this.$store.dispatch("publications/search", {
      programmeId: this.selectedProgramme,
      page: this.page
    });
  },
  methods: {
    search: function() {
      this.$router.push({
        path: "/",
        query: { programmeId: this.selectedProgramme }
      });
    },
    pagerAction(pageNum) {
      this.page = pageNum;
      this.$router.push({
        path: this.$route.fullPath,
        query: { page: pageNum }
      });
    }
  },
  computed: {
    publications() {
      if (this.$store.getters["publications/collection"]) {
        return _.orderBy(
          this.$store.getters["publications/collection"]["publications"],
          "translation[0].title_sort",
          "asc"
        );
      }
      return [];
    },
    pagecount() {
      if (this.$store.getters["publications/collection"]) {
        return this.$store.getters["publications/collection"].pagecount;
      }
      return 0;
    },
    programmes() {
      let programmeOptions = [];
      let programmes = this.$store.getters["config/programmes"];
      // Sort programmes.
      programmes = _.orderBy(programmes, "id", "asc");
      for (let programme of programmes) {
        programmeOptions.push({
          text: programme.descriptionEn,
          value: String(programme.id)
        });
      }
      return programmeOptions;
    }
  }
};
</script>
