<template>
  <div id="publication">
    <transition name="fade" v-if="$store.getters['loader/loading'] > 0">
      <div class="ripple-cover">
        <div class="ripple">
          <div class="ripple__circle"></div>
          <div class="ripple__circle ripple__inner-circle"></div>
        </div>
      </div>
    </transition>
    <ul class="nav nav-tabs">
      <li class=""><router-link to="/">Search</router-link></li>
      <li class="active"><a href="#">Grant</a></li>
    </ul>
    <div v-if="!publication.id">
      <h3 v-if="publication.message">{{ publication.message }}</h3>
      <h3 v-else>Something went wrong. Please try again later.</h3>
    </div>
    <div v-else>
      <div class="publication-item row-fluid">
        <div class="publication-header">
          <h3>
            <span
              v-if="publication.translation[lang]"
              class="publication-title"
              v-html="publication.translation[lang].title"
            />
            <small class="muted monospace">{{
              publication.details.reference
            }}</small>
            <br />
            <span class="languages languages-small ">
              <router-link
                v-for="(item, index) in publication.translation"
                :key="index"
                :to="{
                  name: 'publication',
                  params: { id: publication.id },
                  query: { lang: index }
                }"
                :class="{ selected: index == lang }"
              >
                {{ item.language }}
              </router-link>
            </span>
          </h3>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <table class="table table-small table-bordered">
              <tbody>
                <tr class="even">
                  <th>Reference</th>
                  <td class="monospace">{{ publication.details.reference }}</td>
                </tr>
                <tr class="odd">
                  <th>Programme</th>
                  <td>
                    <span class="tag">{{ publication.programme }}</span>
                  </td>
                </tr>
                <tr class="even">
                  <th>Call for proposals</th>
                  <td class="monospace">
                    <span class="tag">{{
                      publication.details.selectionProcedureRef
                    }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="span6">
            <table class="table table-small table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>Total costs</th>
                  <th>EU Contribution</th>
                </tr>
              </thead>
              <tbody>
                <tr class="even">
                  <th>Initial</th>
                  <td class="monospace">
                    {{
                      publication.details.initialTotalCost
                        | currency("€", 2, ".", ",")
                    }}
                  </td>
                  <td class="monospace">
                    {{
                      publication.details.initialEuContribution
                        | currency("€", 2, ".", ",")
                    }}
                  </td>
                </tr>
                <tr class="odd">
                  <th>Final</th>
                  <td class="monospace">
                    {{
                      publication.details.finalTotalCost
                        | currency("€", 2, ".", ",")
                    }}
                  </td>
                  <td class="monospace">
                    {{
                      publication.details.finalEuContribution
                        | currency("€", 2, ".", ",")
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row-fluid">
          <dl class="span6 compact">
            <dt class="capsule">
              Countries involved
            </dt>
            <dd v-html="publication.countries"></dd>
          </dl>
          <dl class="span6 compact">
            <dt class="capsule">
              Direct Target Groups
            </dt>
            <dd v-html="publication.directTargetGroups"></dd>
          </dl>
        </div>
        <div class="row-fluid">
          <dl class="span6 compact">
            <dt class="capsule">
              Ultimate Target Groups
            </dt>
            <dd v-html="publication.ultimateTargetGroups"></dd>
          </dl>
          <dl class="span6 compact">
            <dt class="capsule">
              Policy Areas
            </dt>
            <dd v-html="publication.policyAreas"></dd>
          </dl>
        </div>
        <div class="orgHeader">Beneficiaries</div>
        <div class="row-fluid compact">
          <dl class="span6 compact list">
            <dt class="capsule">Coordinator</dt>
            <dd>
              <div class="linkstyle" v-on:click="toggle_collapse(false)">
                <span v-if="publication.organisation">{{
                  publication.organisation.name
                }}</span>
              </div>
              <transition
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
                v-bind:css="false"
              >
                <div class="collapsible" v-if="!collapsed">
                  <div class="row-fluid">
                    <address>
                      <div v-if="publication.organisation.registrationNumber">
                        <b>Registration Number:</b>
                        {{ publication.organisation.registrationNumber }}
                      </div>
                      <div v-if="publication.organisation.vatNumber">
                        <b>VAT Number:</b>
                        {{ publication.organisation.vatNumber }}
                      </div>
                    </address>
                  </div>
                  <div class="row-fluid">
                    <address class="span5">
                      <div v-if="publication.organisation.address1">
                        {{ publication.organisation.address1 }}
                      </div>
                      <div v-if="publication.organisation.address2">
                        {{ publication.organisation.address2 }}
                      </div>
                      –
                      <div v-if="publication.organisation.postalCode">
                        {{ publication.organisation.postalCode }}
                      </div>
                      <div v-if="publication.organisation.town">
                        {{ publication.organisation.town }}
                      </div>
                      <div v-if="publication.organisation.country">
                        {{ publication.organisation.country }}
                      </div>

                      <br />
                      <br />
                      <div v-if="publication.organisation.email">
                        {{ publication.organisation.email }}
                      </div>
                      <div v-if="publication.organisation.fax">
                        <b>FAX: </b>
                        {{ publication.organisation.fax }}
                      </div>
                      <div v-if="publication.organisation.mobilePhone">
                        <b>Mobile: </b>
                        {{ publication.organisation.mobilePhone }}
                      </div>
                      <div v-if="publication.organisation.telephone1">
                        <b>Phone: </b>
                        {{ publication.organisation.telephone1 }}
                      </div>
                      <div v-if="publication.organisation.telephone2">
                        <b>Phone 2: </b>
                        {{ publication.organisation.telephone2 }}
                      </div>
                      <div v-if="publication.organisation.webSite">
                        <a
                          :href="publication.organisation.webSite"
                          target="_blank"
                          >{{ publication.organisation.webSite }}
                        </a>
                      </div>
                    </address>
                  </div>
                </div>
              </transition>
            </dd>
          </dl>
          <dl class="span6 compact list">
            <dt class="capsule">Co-Applicants</dt>
            <dd
              v-for="(value, index) in publication.partners"
              class="publication-item row-fluid"
              :key="index"
            >
              <div class="linkstyle" v-on:click="toggle_collapse(index)">
                {{ value.name }}
              </div>
              <transition
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
                v-bind:css="false"
              >
                <div class="collapsible" v-if="!value.collapsed">
                  <div class="row-fluid">
                    <address>
                      <div v-if="value.registrationNumber">
                        <b>Registration Number:</b>
                        {{ value.registrationNumber }}
                      </div>
                      <div v-if="value.vatNumber">
                        <b>VAT Number:</b>
                        {{ value.vatNumber }}
                      </div>
                    </address>
                  </div>
                  <div class="row-fluid">
                    <address class="span5">
                      <div v-if="value.address1">{{ value.address1 }}</div>
                      <div v-if="value.address2">{{ value.address2 }}</div>
                      –
                      <div v-if="value.postalCode">{{ value.postalCode }}</div>
                      <div v-if="value.town">{{ value.town }}</div>
                      {{ value.country }}
                      <br />
                      <br />
                      <div v-if="value.email">
                        {{ value.email }}
                      </div>
                      <div v-if="value.fax"><b>FAX: </b>{{ value.fax }}</div>
                      <div v-if="value.mobilePhone">
                        <b>Mobile: </b>{{ value.mobilePhone }}
                      </div>
                      <div v-if="value.telephone1">
                        <b>Phone: </b>{{ value.telephone1 }}
                      </div>
                      <div v-if="value.telephone2">
                        <b>Phone 2: </b>{{ value.telephone2 }}
                      </div>
                      <div v-if="value.webSite">
                        <a :href="value.webSite" target="_blank">{{
                          value.webSite
                        }}</a>
                      </div>
                    </address>
                  </div>
                </div>
              </transition>
            </dd>
          </dl>
        </div>
        <hr class="separator" />
        <div class="summary">
          <div
            v-if="publication.translation[lang]"
            id="full-summary"
            v-html="publication.translation[lang].summary"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { TweenMax, Power4 } from "gsap";
export default {
  name: "publication",
  data() {
    return {
      collapsed: true
    };
  },
  mounted() {
    this.$store.dispatch(
      "publications/getPublicationById",
      this.$route.params.id
    );
  },
  computed: {
    publication() {
      return this.$store.getters["publications/publication"];
    },
    lang() {
      return this.publication.translation[this.$route.query.lang]
        ? this.$route.query.lang
        : 0;
    }
  },
  methods: {
    beforeEnter: function(el) {
      el.style.maxHeight = 0 + "px";
    },
    enter: function(el, done) {
      TweenMax.to(el, 0.8, {
        ease: Power4.easeOut,
        maxHeight: el.scrollHeight,
        onComplete: done
      });
    },
    leave: function(el, done) {
      TweenMax.to(el, 0.8, {
        maxHeight: "0",
        ease: Power4.easeOut,
        onComplete: done
      });
    },
    toggle_collapse: function(index) {
      if (index !== false) {
        // Clone publication object.
        let update = JSON.parse(JSON.stringify(this.publication));
        if (this.publication["partners"][index]["collapsed"]) {
          // Expand the menu.
          update["partners"][index]["collapsed"] = false;
          this.$store.dispatch("publications/updatePublication", update);
        } else {
          // Collapse the menu.
          update["partners"][index]["collapsed"] = true;
          this.$store.dispatch("publications/updatePublication", update);
        }
      } else {
        if (this.collapsed) {
          // Expand the menu.
          this.collapsed = false;
        } else {
          // Collapse the menu.
          this.collapsed = true;
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
#app ul.nav {
  margin-top: 15px;
}
.collapsible {
  overflow: hidden;
  height: auto !important;
}
dl.list > dd {
  border: none;
  margin-top: 3px;
  margin-left: 0;
  padding: 6px 11px;
  border-radius: 0px;
  background: #f8f8f8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
</style>
